 <div class="jumbotron text-center">
        <h1>Blog Page</h1>
    </div>

  <section id="blog-section">
  	 <div class="container">
   	<div class="row">
        <div  class="blog-list" ng-repeat="blog in posts" style="display: inherit;">
        <div class="col-md-8"><h1>{{blog.title}}</h1>
      <p>{{blog.content | cut:true:100:' ...'}}</p>
      {{blog.content.length > 100 ? 'Read more &rarr;' : ''}}</div>
       <div  class="col-md-4">
      <img  ng-src="{{blog.featured}}" alt="{{blog.title}}">
      </div>
    
   </div>


   </div> 
   </div>
  </section>