 <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-tops">
   <div class="container">
  <a class="navbar-brand" href="#" page-title></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
   <navigationbar></navigationbar>
	</div> 
	
	
  </div>  
</nav>

