<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="600" data-wrap="true">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">

    <div class="carousel-item {{ ($index+1 == 1) ? 'active' : ''}}"   ng-repeat="slide in sliders" >
      <img ng-src="{{slide.imageUrl}}" alt="Los Angeles" width="1100" height="500">
    <div class="carousel-caption">
        <h3> {{slide.title}}</h3>
        <p>{{slide.text}}</p>
      </div> 
    </div>
    
  </div>
  
</div>

<section id="what-we-do">
		<div class="container">
			<h2 class="section-title mb-2 h1">{{heading1}}</h2>
			<p class="text-center text-muted h5">{{paragraph1}}</p>
			<div class="row mt-5">

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"  ng-repeat="whatwe in whatwedo">
					<div class="card">
						<div class="card-block {{ whatwe.className }}">
							<h3 class="card-title">{{ whatwe.title }}</h3>
							<p class="card-text">{{ whatwe.text }}</p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				
			</div>
		
			
		</div>	
	</section>
   <div class="jumbotron text-center">
  <h1>{{ ctitle }}</h1>
  <p>{{ctext }}</p> 
  <button type="button" class="btn btn-secondary"  data-toggle="modal" data-target="#myModal">Get Started Now</button>
  <!-- The Modal -->
<div class="modal  fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Contact Us</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-sm-left">
        <form action="#" class='needs-validation'  novalidate method='post'>
		<div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name='name' required>
	 <div class="invalid-feedback">
         This field is required. Please enter your name
        </div>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name='email' required>
	 <div class="invalid-feedback">
         This field is required. Please enter your email address
        </div>
  </div>
  <div class="form-group">
  <label for="sel1">Select Option:</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>

<div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment" required></textarea>
   <div class="invalid-feedback">
         This field is required. Please enter your message.
        </div>
</div>

<div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>

      

    </div>
  </div>
</div>
</div>  
 <section id='latest-news'> 
 <div class="container">
    <div class="row">
      <div class="col-sm" ng-repeat="bloging in blog.slice(0, 5)">
        <div class="card" >
  <img class="card-img-top" ng-src="{{bloging.imageUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{bloging.title}}</h5>
    <p class="card-text">{{bloging.text}}</p>
    <a href="#" class="btn btn-link">More Info</a>
  </div>
</div></div>
    
 
   
     
    </div>  
  </div>      
</section>