 <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#/">Home</a>
      </li>
      <li class="nav-item" ng-repeat="nav in pages">
        <a class="nav-link" href="#{{nav.title | lowercase}}">{{nav.title}}</a>
      </li>
    </ul>